table{
	margin-top:2%;
	margin-left: 30%;
	margin-right: 40%;
	border:5px solid white;
}
td{ /*table data - ячейка данных таблицы*/
	border:5px solid white; /*белая граница ячейки*/
	color: white;
	text-align: center;
	font-size:17px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
	text-align: center;
	margin: auto;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	height:30px;
}
span{
	font-size: 22px;
}
.rotated{
	transform: rotate(270deg);
	width: 45px;
	margin-top:30px;
	font-size:20px;
}
#Column1Row1{ /*первый столбец, первый ряд*/
	height:115px;
}
#Column1Row2{ /*первый столбец, второй ряд*/
	height:139px;
}
#Column2Row4{ /*второй столбец, четвертый ряд*/
	height: 30px;
}
#Column2Row6{ /*второй столбец, шестой ряд*/
	height: 61px;
	padding-bottom:5px;
}

#four{
	height: 50px;
	font-size:18px;
	padding-top:5px;
	padding-bottom:5px;
	margin-top:10px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:10px;
		place-items: center;/*размещение предметов по центру*/
		display:grid; /*сетка*/
		box-shadow: 0 2px 3px rgba(0,0,0,0.4); /*тень*/
}
#one{
	height: 50px;
	font-size:18px;
	padding-top:5px;
	padding-bottom:5px;
	margin-top:15px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:10px;
		box-shadow: 0 2px 3px rgba(0,0,0,0.4);
}
#two{
	height: 95px;
	margin-top:-5px;
	padding-top:5px;
	padding-bottom:5px;
		box-shadow: 0 2px 3px rgba(0,0,0,0.4);
}
#three{
	font-size:25px;
	padding-bottom:5px;
}

.Gray{
	background-color: rgb(77,77,77);
}
.DarkGray{
	background-color: rgb(63, 63, 63);
	padding-bottom:25px;
}
.LightGray{
	background-color: rgb(140, 140, 140);
	font-size: 30px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.DarkOrange{
	background-color:rgb(241,133,0);
}
.MediumGray{
	background-color: rgb(127, 127, 127);
}
.Orange{
	background-color: rgb(249,140,0);
	width: 250px;
}
